.main {
	
}

.none_display {
	display: none;
}

.common_data {
	margin: 3px;
}

.thead {
	border-left: 1px solid #343434;
	border-bottom: 1px solid #343434;
	padding: 20px;
	background-color: #118EC7;
	color: #FFF;
	font-weight: 400
}

.border_board {
	border: 1px solid #343434;
}

.border_sell_right{
	border-right: 1px solid #343434;
	border-left: 1px solid #343434;
}

.week_container {
	float: left;
	width: 15%;
}

.days_container {
	margin-left: 15%;
	width: 80%;
}

.times_table td {
	vertical-align: top;
}

.example_monday {
	display: none;
}

.form-control {
	display: block;
	width: 100%;
}

.pull-right {
	float: right;
}

.table .cell {
	display: table-cell;
	vertical-align: top;
}

.example_week_time {
	display: none;
}

.dynamic_week .js_add {
	
}

.tabcontent {
	width: 90%;
}