.wrapper {
	margin-left: 10%;
	margin-right: 10%;
	height: 100%;
}

.container {
	min-height: calc(99vh - 20px);
}

nav {
	width: 100%;
	height: 40px;
	margin: 0 auto 5px;
	background-color: #118EC7;
}

nav ul {
	margin: 0;
	padding: 0;
	position: relative;
	list-style: none;
}

.topmenu>li {
	margin-left: 20px;
	margin-right: auto;
	display: inline-block;
	width: 30%;
}

nav a {
	display: block;
	padding: 0 10px;
	color: #FFF;
	font-size: 20px;
	line-height: 40px;
	text-decoration: none;
}

nav a:hover {
	background-color: #9dc5e1;
}

.submenu {
	display: none;
	position: absolute;
	top: 100%;
	background-color: #9dc5e1;
}

.topmenu>li:hover>ul {
	display: inherit;
}

.submenu li {
	min-width: 170px;
	float: none;
	display: list-item;
	position: relative;
	background-color: #118EC7;
}

img {
	width: 100%;
	display: block;
}

.text_buttons {
	text-decoration: none;
	outline: none;
	display: inline-block;
	width: 200px;
	height: 45px;
	line-height: 45px;
	border-radius: 45px;
	margin: 10px 20px;
	font-family: 'Montserrat', sans-serif;
	font-size: 10px;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 3px;
	font-weight: 600;
	color: black;
	background: #E0E0E0;
	box-shadow: 0 3px 5px rgba(19, 183, 237, 0.48);
	transition: .3s;
}

.text_buttons:hover {
  background: #118EC7;
  box-shadow: 0 8px 10px rgba(157, 197, 225, 0.48);
   transform: translateY(-7px);
    color: black;
}

.text_save {
	text-decoration: none;	
	outline: none;
	display: inline-block;
	width: 100px;
	height: 30px;
	line-height: 30px;
	border-radius: 45px;
	margin: 10px 20px;
	font-family: 'Montserrat', sans-serif;
	font-size: 10px;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 3px;
	font-weight: 600;
	color: black;
	background: #E0E0E0;
	box-shadow: 0 3px 5px rgba(19, 183, 237, 0.48);
	transition: .3s;
}

.text_save:hover {
  background: #118EC7;
  box-shadow: 0 8px 10px rgba(157, 197, 225, 0.48);
   transform: translateY(-7px);
    color: black;
}