@charset "UTF-8";

.none_display {
	display: none;
}

.patient_list {
	float: left;
	width: 10%;	
}

#patient_table {
	width: 100%;	
	margin:2px;
	text-align: center;
	border: 1px solid #343434
}

#patient_table caption {
	font-size: 20px;
	font-weight: 400;
	background-repeat: no-repeat;
	background-position: 130px center;
	padding-top: 20px;
	height: 50px
}

#patient_table td {
	border-left: 1px solid #343434;
	border-top: 1px solid #343434;
	padding: 10px;
}

#patient_table th {
	border-left: 1px solid #343434;
	border-bottom: 1px solid #343434;
	padding: 20px;
	background-color: #118EC7;
	color: #FFF;
	font-weight: 400
}

#patient_table tbody tr:hover * {
	background: #FBF4E9;
	color: #343434
}

#patient_table tr {
	color: #343434
}

.prescription_list {
	
}

#prescription_table{
	float:left;
	margin-left:3px;
	margin-right:3px;
	text-align: left;
	border: 1px solid #343434;
}

#prescription_table caption {
	font-size: 20px;
	font-weight: 400;
	background-repeat: no-repeat;
	background-position: 130px center;
	padding-top: 20px;
	height: 50px
}

#prescription_table td {
	border-left: 1px solid #343434;
	border-top: 1px solid #343434;
	padding: 10px;
}

#prescription_table th {
	border-left: 1px solid #343434;
	border-bottom: 1px solid #343434;
	padding: 20px;
	background-color: #118EC7;
	color: #FFF;
	font-weight: 400
}

#prescription_table tbody tr:hover * {
	background: #FBF4E9;
	color: #343434
}

#prescription_table tr {
	color: #343434
}

.selected {
	background-color: gray;
}
