@charset "UTF-8";

.none_display {
	display: none;
}

.selected {
	background-color: gray;
}

#tab {
	width: 100%;
	text-align: center;
	border: 1px solid #343434;
}

#tab caption {
	font-size: 20px;
	font-weight: 400;
	background-repeat: no-repeat;
	background-position: 130px center;
	padding-top: 20px;
	height: 50px;
}

#tab td {
	border-left: 1px solid #343434;
	border-top: 1px solid #343434;
	padding: 10px;
}

#tab th {
	border-left: 1px solid #343434;
	border-bottom: 1px solid #343434;
	padding: 20px;
	background-color: #118EC7;
	color: #FFF;
	font-weight: 400;
}

#tab tbody tr:hover * {
	background: #FBF4E9;
	color: #343434;
}

#tab tr {
	color: #343434;
}

#filter_block{
	padding: 10px;
}