<div style="background: url(${pageContext.request.contextPath}/resources/images/bg_icon.jpg) no-repeat; height: 80px; padding: 5px;">
	<div style="float: left;">
		<h1>Information system of the rehabilitation center</h1>
	</div>
	<div style="float: right;">
	
		<a href="${pageContext.request.contextPath}" style='text-decoration: none; float: left; display: inline-block; margin-right: 5px;' title="Home";><img
			src="${pageContext.request.contextPath}/resources/images/home_small.png" alt="home icon"></a> <a href='${pageContext.request.contextPath}/logout'
			style='text-decoration: none; display: inline-block;' title="Logout"><img
			src="${pageContext.request.contextPath}/resources/images/logout_small.png" alt="cool logout"></a>			
	</div>
</div>